/******** Estolos para la barra de navegacion ******/
nav {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

nav > h2 {
  position: relative;
  left: 60;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  cursor: pointer;
}

/******** Estilos para los Items List ******/

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/****** Estilos Item box deprouctos *********/
.item-box {
  background-color: #2ab3c8;
  color: #fff;
  margin: 10px;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/******** Estitos para las cartidades ******/
.item-quantity {
  color: #fff;
  background-color: #f0ad4e;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  max-width: 30px;
  position: relative;
  left: 40px;
}
/******** color para los precios ******/
.item-price {
  color: rgb(248, 241, 241);
  z-index: auto;
}

.item-add-button {
  background-color: #5cb85c;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
  height: 20px;
}

.item-minus-button {
  background-color: #d9534f;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

.item-plus-button {
  background-color: #337ab7;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 11px;
  cursor: pointer;
  margin-right: 4px;
}

/****** Shopping Cart ********/

.cart-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.cart-count {
  background-color: rgb(9, 193, 16);
  border-radius: 10px;
  padding: 4px;
  margin-left: 10px;
}

.body{
  background-color: blue;
  border-radius: 20px;
  padding: 2px;
}
